{% case media.media_type %}
  {% when 'image' %}
    <img
      class="w-full h-full object-cover"
      src="{{ media | img_url: 'large' }}"
      alt="{{ media.preview_image.alt }}"
    >
  {% when 'video' %}
    {{ media | video_tag: controls: true, class: 'w-full h-80 object-cover' }}
  {% when 'external_video' %}
    {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}
  {% when 'model' %}
    <product-model>
      <div>
        <button class="w-full h-full bg-gray-100 border relative" x-on:click="productModalOpen = true">
          <span>
              {% render 'icon-model-viewer' %}
          </span>
          <img 
              src="{{ media | img_url: 'large' }}" 
              alt="{{ media.preview_image.alt }}"
              class="w-full h-full object-cover absolute"
          >
      </button>
      </div>
      <template>
        {{ media | model_viewer_tag: reveal: 'interaction' }}
      </template>
    </product-model>
  {% else %}
    {{ media | media_tag }}
{% endcase %}
